{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

    <main>

        <article>

            <div class="container">

                <div class="row">

                    <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4 my-4 content">

                        <header>
                            <h1 class="content-header">RESETOWANIE HASŁA</h1>
                        </header>

                        <form action="/password/request-reset" method="POST">

                            <div class="input-container">
                                <i class="icon-mail-1 icon"></i>
                                <input class="input-field" type="email" name="email" id="inputEmail" placeholder="email" autofocus required>
                            </div>

                            <input type="submit" class="btn btn-success btn-block my-4" name="login" value="Zresetuj hasło">

                        </form>
                        
                    </div>    

                </div>    

            </div>

        </article>

    </main>


{% endblock %}
