{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

    <main>

        <div class="container">

            <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 my-4 pb-2 content">

                <section>

                    <header>
                        <h2 class="content-header"> RESET HASŁA </h2>
                    </header>					 

                    <p style="text-align: center">	
                        Link do zmiany hasła niepoprawny lub wygasł
                    </p>
                    <p style="text-align: center">Kliknij <a href="/password/forgot">TUTAJ</a> aby ponownie wysłać prośbę oz mianę hasła</p>

                </section>

            </div>

       </div>

    </main>


{% endblock %}
