{% extends 'base.html' %}

{% block title %}Add Income{% endblock %}

{% block footer %}

<script>
    
    $("#balance_period").change(function() {
        var option_value = document.getElementById("balance_period").value;
        if (option_value == "4") {
             $("#balance_date_modal").modal({
                show: true 
             });
        } else {
            document.getElementById("balance_period").setAttribute("value", option_value);
            document.getElementById("balanceForm").submit();
        }
    });
    
</script>

{% endblock %}

{% block body %}

<main>
			
    <div class="container">

        <div class="col-sm-12 col-lg-10 offset-lg-1 my-3 content">

            <article>

                <header>

                    <h2 class="content-header"><i class="icon-chart-bar"></i> Bilans - {{ header }} </h2>

                </header>								

                <div class="row">

                    <div class="col-sm-12 col-md-6 py-2">

                        <h3>Przychody</h3>

                        <table>
                            <tr class="incomes-header">
                                <th> Kategoria </th><th> Suma </th>
                            </tr>
                            
                            {% set incomeTotalSum = 0 %}
                            {% for income in incomeSumsByCategory %}
                                <tr>
                                    <td>{{ income.name }}</td> 
                                    <td>{{ income.categorySum }}</td>  
                                    {% set incomeTotalSum =  incomeTotalSum + income.categorySum %}
                                </tr> 
                            {% endfor %}
                            
                            <tr>
                                <td class="sum-row"> Suma </td><td class="sum-row"> {{ incomeTotalSum }}</td>
                            </tr>									

                        </table>

                    </div>

                    <div class="col-sm-12 col-md-6 py-2">

                        <h3>Wydatki</h3>

                        <table>
                            <tr class="expenses-header">
                                <th> Kategoria </th><th> Suma </th>
                            </tr>
                            
                            {% set expenseTotalSum = 0 %}
                            {% for expense in expenseSumsByCategory %}
                                <tr>
                                    <td>{{ expense.name }}</td> 
                                    <td>{{ expense.categorySum }}</td>   
                                    {% set expenseTotalSum =  expenseTotalSum + expense.categorySum %}
                                </tr> 
                            {% endfor %}

                            <tr >
                                <td class="sum-row"> Suma </td><td class="sum-row"> {{ expenseTotalSum }}</td>
                            </tr>									
                        </table>						

                    </div>	

                </div>

                <div class="balance-row">
                          
                    Twój bilans: {{ incomeTotalSum - expenseTotalSum }} zł <br/>
                    {% if totalIncome >= totalExpense %}
                        Brawo, zarabiasz więcej niż wydajesz.
                    {% else %}
                        Uważaj, wydajesz więcej niż zarabiasz!
                    {% endif %}
                    

                </div>

                <form action="/balance/show" method="POST" id="balanceForm">

                    <!-- Modal -->
                    <div id="balance_date_modal" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title text-center">Wybierz okres bilansu</h4>
                            <button type="button" class="close text-right" data-dismiss="modal">&times;</button>                              
                          </div>
                          <div class="modal-body">

                              <div class="row">
                                <div class="col-sm-10 offset-sm-1">

                                    <label for="date_of_expense" class="formLegend"> Początek okresu: </label><br/>
                                    <input class="form-control" type="date" name="balance_start_date">

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-10 offset-sm-1">

                                    <label for="date_of_expense" class="formLegend"> Koniec okresu: </label><br/>
                                    <input class="form-control" type="date" name="balance_end_date">

                                </div>

                            </div> 
                          </div>

                          <div class="modal-footer">
                            <!--<input type="submit" class="btn btn-success" data-dismiss="modal" value="Wybierz"> -->
                             <input type="submit" class="btn btn-success btn-block mt-3" value="Pokaż bilans"> 
                          </div>
                        </div>

                      </div>
                    </div>


                    <div class="row py-3"> 
                        <div class="col-md-6">

                            <label for="balance-date"> Wybierz okres: </label>
                            <select	class="custom-select mb-2" name="balance_period" id="balance_period" >
                                <option value="" selected disabled hidden>Wybierz tutaj</option>
                                <option value="1">Bierzący miesiąc</option>
                                <option value="2">Poprzedni miesiąc</option>
                                <option value="3">Bierzący rok</option>
                                <option value="4">Niestandardowa data</option>
                            </select>
                        </div>

                        <!-- since I have written submitting form in changeBudgetPeriod() function without the need to push a ubmit button, we no longer need the button
                        <div class="col-md-6 my-1">
                           <input type="submit" class="btn btn-success btn-block mt-3" value="Pokaż bilans">
                        </div>
                        -->
                        
                    </div>
                </form>	

            </article>

        </div>    

    </div>    

</main>

{% endblock %}
