{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block footer %}

<script>

    var userId = '{{ current_user.id }}';

</script>

<script src="/js/settings.js"></script>

{% endblock %}

{% block body %} 

    <main>
        
        <div class="container">

            <div class="col-xl-8 offset-xl-2 my-3 py-2 content"> 
                
                <div class="accordion" id="accordionExample">
                    
                  <div class="card">
                      
    <!-- KATEGORIE PRZYCHODÓW   -->
                      
                    <div class="card-header" id="headingOne">
                      <h3 class="mb-0">
                        <button class="btn btn-block btn-link text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Kategorie przychodów
                        </button>
                      </h3>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        
                        {% for category in incomeCategories %}
                          
                            <div class="accordion-list-item" id="inc-ctg-item{{ category.id }}">
                                
                                <span id="inc-ctg-name-id{{ category.id }}">{{ category.name }}</span>
                                
                                <span class="inc-ctg-delete-btn edit-ctg-btn" data-category-id="{{ category.id }}">
                                    <img src="/img/clear.png" class="float-right ml-2"/>
                                </span>
                                
                                <span class="inc-ctg-edit-btn del-ctg-btn" id="inc-ctg-edit-id{{ category.id }}" data-category-id="{{ category.id }}">
                                    <img src="/img/edit2.png" class="float-right"/>
                                </span>
                                                            
                                <hr class="line"/>
                                
                            </div>               

                        {% endfor %}  
                          
                        <div id="add-inc-ctg" class="add-new-ctg">
                            <img src="/img/add.png">
                            Dodaj nową kategorię
                        </div>
                                
                        <!-- Edit Income Category Modal -->
                        <div id="edit-inc-ctg-modal" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">

                              <div class="modal-header">
                                <h4 class="modal-title text-center">Edycja kategori</h4>
                                <button type="button" class="close text-right" data-dismiss="modal">&times;</button>                              
                              </div>
                              <div class="modal-body">

                                <div id="inc-ctg-edit-error" class="modal-errors"></div>  
                                  
                                <div class="row">
                                    <div class="col-sm-10 offset-sm-1">
                                        
                                        <label for="inc-category-name" class="form-legend"> Nazwa kategori </label><br/>
                                        <input class="form-control inc-ctg-name-edit" type="text" name="inc-category-name">

                                    </div>

                                </div>

                              </div>

                              <div class="modal-footer">
                                
                                  <button type="button" class="btn btn-primary save-inc-ctg-edit-btn">Zapisz zmiany</button>
                                  
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Delete Income Category Modal -->
                        <div id="del-inc-ctg-modal" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title text-center">Usunięcie kategori</h4>
                                <button type="button" class="close text-right" data-dismiss="modal">&times;</button>                              
                              </div>
                              <div class="modal-body">

                                <div class="row">
                                    <div class="col-sm-10 offset-sm-1">

                                        <div id="income-ctg-del-msg"></div>

                                    </div>
                                </div>
                              </div>

                              <div class="modal-footer">
                        
                                 <button id="confirm-inc-ctg-del-btn" class="btn btn-primary mt-2" data-dismiss="modal">Usuń</button>
                                 <button class="btn btn-danger mt-2 cancel-btn" data-dismiss="modal">Anuluj</button>

                              </div>
                            </div>

                          </div>
                        </div>
                          
                        <!-- Add new Income Category Modal -->
                        <div id="new-inc-ctg-modal" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">

                              <div class="modal-header">
                                <h4 class="modal-title text-center">Dodanie nowej kategori przychodów</h4>
                                <button type="button" class="close text-right" data-dismiss="modal">&times;</button>                              
                              </div>
                              <div class="modal-body">

                                <div id="new-inc-ctg-error" class="modal-errors"></div>  
                                  
                                <div class="row">
                                    <div class="col-sm-10 offset-sm-1">

                                        <label for="new-inc-ctg-name" class="form-legend"> Nazwa kategori </label><br/>
                                        <input class="form-control" id="new-inc-ctg-name" type="text">

                                    </div>
                                    
                                </div>
                              </div>

                              <div class="modal-footer">
                               
                                  <button type="button" class="btn btn-primary" id="save-new-inc-ctg-btn">Dodaj nową kategorię</button>
                              </div>

                            </div>
                          </div>
                        </div>   
                          
                      </div>
                    </div>
                      
                  </div>
                    
    <!-- KATEGORIE WYDATKÓW   -->                    
                    
                  <div class="card">
                      
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Kategorie wydatków
                        </button>
                      </h2>
                    </div>
                      
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                        
                        {% for category in expenseCategories %}
                          
                            <div class="accordion-list-item" id="exp-ctg-item{{ category.id }}">
                                
                                <span id="exp-ctg-name-id{{ category.id }}">{{ category.name }}</span>
                                
                                <span class="exp-ctg-delete-btn del-ctg-btn" data-category-id="{{ category.id }}">
                                    <img src="/img/clear.png" class="float-right ml-2"/>
                                </span>
                                
                                <span class="exp-ctg-edit-btn edit-ctg-btn" id="exp-ctg-edit-id{{ category.id }}" data-category-id="{{ category.id }}">
                                    <img src="/img/edit2.png" class="float-right"/>
                                </span>
                                
                                {% if category.monthly_limit > 0 %}
                                    <div class='ctg-limit'> Limit: <span id="ctg-limit{{category.id}}">{{ category.monthly_limit }}</span></div>
                                {% endif %}
                                
                                <hr class="line"/>
                                
                            </div>           
                          
                            

                        {% endfor %}  
                          
                        <div id="add-exp-ctg" class="add-new-ctg">
                            <img src="/img/add.png">
                            Dodaj nową kategorię
                        </div>
                                
                        <!-- Edit Expense Category Modal -->
                        <div id="edit-exp-ctg-modal" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">

                              <div class="modal-header">
                                <h4 class="modal-title text-center">Edycja kategori</h4>
                                <button type="button" class="close text-right" data-dismiss="modal">&times;</button>                              
                              </div>
                              <div class="modal-body">

                                <div id="exp-ctg-edit-error" class="modal-errors"></div>  
                                  
                                <div class="row">
                                    <div class="col-sm-10 offset-sm-1">
                                        
                                        <label for="exp-category-name" class="form-legend"> Nazwa kategori </label><br/>
                                        <input class="form-control exp-ctg-name-edit" type="text" name="exp-category-name">

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-10 offset-sm-1">
                                        <label class="form-legend">
                                            <input type="checkbox" id="limit-status">
                                            Ustaw limit dla kategori
                                         </label><br/>

                                        <label class="form-legend"> Miesięczny limit </label><br/>
                                        <input class="form-control category-limit" id="edit-exp-ctg-limit" type="text" disabled>

                                    </div>

                                </div> 
                              </div>

                              <div class="modal-footer">
                                
                                  <button type="button" class="btn btn-primary save-exp-ctg-edit-btn">Zapisz zmiany</button>
                              </div>

                            </div>
                          </div>
                        </div>

                        <!-- Delete Expense Category Modal -->
                        <div id="del-exp-ctg-modal" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title text-center">Usunięcie kategori</h4>
                                <button type="button" class="close text-right" data-dismiss="modal">&times;</button>                              
                              </div>
                              <div class="modal-body">

                                <div class="row">
                                    <div class="col-sm-10 offset-sm-1">

                                        <div id="expense-ctg-del-msg"></div>

                                    </div>

                                </div>
                              </div>

                              <div class="modal-footer">
                                <!--<input type="submit" class="btn btn-success" data-dismiss="modal" value="Wybierz"> -->
                                 <button id="del-exp-ctg-btn" class="btn btn-primary mt-2" data-dismiss="modal">Usuń</button>
                                 <button class="btn btn-danger mt-2 cancel-btn" data-dismiss="modal">Anuluj</button>

                              </div>
                            </div>

                          </div>
                        </div>
                          
                        <!-- Add new Expense Category Modal -->
                        <div id="new-exp-ctg-modal" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">

                              <div class="modal-header">
                                <h4 class="modal-title text-center">Dodanie nowej kategori wydatków</h4>
                                <button type="button" class="close text-right" data-dismiss="modal">&times;</button>                              
                              </div>
                              <div class="modal-body">

                                <div id="new-exp-ctg-error" class="modal-errors"></div>  
                                  
                                <div class="row">
                                    <div class="col-sm-10 offset-sm-1">

                                        <label for="new-exp-ctg-name" class="form-legend"> Nazwa kategori </label><br/>
                                        <input class="form-control" id="new-exp-ctg-name" type="text">

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-10 offset-sm-1">
                                        
                                        <label class="form-legend">
                                            <input type="checkbox" id="new-ctg-limit-status">
                                            Ustaw limit dla kategori
                                         </label><br/>

                                        <label class="form-legend"> 
                                            Miesięczny limit 
                                            <input class="form-control category-limit" id="new-exp-ctg-limit" type="text" disabled>
                                        </label><br/>

                                    </div>

                                </div> 
                              </div>

                              <div class="modal-footer">
                               
                                  <button type="button" class="btn btn-primary" id="save-new-exp-ctg-btn">Dodaj nową kategorię</button>
                              </div>

                            </div>
                          </div>
                        </div>  

                      </div>
                    </div>
                      
                  </div>
                    
    <!-- METODY PŁATNOŚCI   -->                    
                    
                  <div class="card">
                      
                    <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            
                          Metody płatności
                            
                        </button>
                      </h2>
                    </div>
                      
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">

                        {% for method in paymentMethods %}

                        <div class="accordion-list-item" id="pay-method-item{{ method.id }}">

                            <span id="pay-method-name-id{{ method.id }}">{{ method.name }}</span>

                            <span class="pay-method-delete-btn del-ctg-btn" data-method-id="{{ method.id }}">
                                <img src="/img/clear.png" class="float-right ml-2"/>
                            </span>

                            <span class="pay-method-edit-btn edit-ctg-btn" data-method-id="{{ method.id }}">
                                <img src="/img/edit2.png" class="float-right"/>
                            </span>

                            <hr class="line"/>

                        </div>               

                        {% endfor %}  
                          
                        <div id="add-pay-method" class="add-new-ctg">
                            <img src="/img/add.png">
                            Dodaj nową metodę płatności
                        </div>
                                
                        <!-- Edit Payment Method Modal -->
                        <div id="edit-pay-method-modal" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">

                              <div class="modal-header">
                                <h4 class="modal-title text-center">Edycja metody płatności</h4>
                                <button type="button" class="close text-right" data-dismiss="modal">&times;</button>                              
                              </div>
                              <div class="modal-body">

                                <div id="pay-method-edit-error" class="modal-errors"></div>  
                                  
                                <div class="row">
                                    <div class="col-sm-10 offset-sm-1">
                                        
                                        <label for="inc-category-name" class="form-legend"> Nazwa metody </label><br/>
                                        <input class="form-control" id="pay-method-name-edit" type="text" name="inc-category-name">

                                    </div>

                                </div>

                              </div>

                              <div class="modal-footer">
                                
                                  <button type="button" class="btn btn-primary" id="save-pay-method-edit-btn" >Zapisz zmiany</button>
                                  
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Delete Payment MEthod Modal -->
                        <div id="del-pay-method-modal" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title text-center">Usunięcie metody płatności</h4>
                                <button type="button" class="close text-right" data-dismiss="modal">&times;</button>                              
                              </div>
                              <div class="modal-body">

                                <div class="row">
                                    <div class="col-sm-10 offset-sm-1">

                                        <div id="pay-method-ctg-del-msg"></div>

                                    </div>
                                </div>
                              </div>

                              <div class="modal-footer">
                        
                                 <button id="confirm-pay-method-del-btn" class="btn btn-primary mt-2" data-dismiss="modal">Usuń</button>
                                 <button class="btn btn-danger mt-2 cancel-btn" data-dismiss="modal">Anuluj</button>

                              </div>
                            </div>

                          </div>
                        </div>
                          
                        <!-- Add new Payment Method Modal -->
                        <div id="new-pay-method-modal" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">

                              <div class="modal-header">
                                <h4 class="modal-title text-center">Dodanie nowej metody płatności</h4>
                                <button type="button" class="close text-right" data-dismiss="modal">&times;</button>                              
                              </div>
                              <div class="modal-body">

                                <div id="new-pay-method-error" class="modal-errors"></div>  
                                  
                                <div class="row">
                                    <div class="col-sm-10 offset-sm-1">

                                        <label for="new-pay-method-name" class="form-legend"> Nazwa metody płątności </label><br/>
                                        <input class="form-control" id="new-pay-method-name" type="text">

                                    </div>
                                    
                                </div>
                              </div>

                              <div class="modal-footer">
                               
                                  <button type="button" class="btn btn-primary" id="save-new-pay-method-btn">Dodaj nową metode płatności</button>
                              </div>

                            </div>
                          </div>
                        </div>                             
                          
                      </div>
                    </div>
                      
                  </div>
                    
    <!-- DANE UŻYTKOWNIKA   -->                    
                    
                  <div class="card">
                      
                    <div class="card-header" id="headingFour">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Dane użytkownika
                        </button>
                      </h2>
                    </div>
                      
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                      <div class="card-body">
                        
                        <div class="user-data-box">
                                
                            Nazwa użytkownika: <span id="user-name" class="user-data">{{ current_user.name}}</span>

                            <hr class="line"/>
                                
                        </div>     
                          
                        <div class="user-data-box">
                                
                            Adres email: <span id="user-email" class="user-data">{{ current_user.email}}</span>

                            <hr class="line"/>
                                
                        </div>     
                            
                        <div class="user-data-box">
                            
                           <span id="user-settings-modal-btn" class="edit-user-profile">
                                <img src="/img/edit2.png" class="edit-profile-pic"/>
                                Edytuj dane użytkownika
                            </span>
                            
                            <hr class="line"/>
                                
                        </div>   
                          
                        <div class="user-data-box">
                            
                            <span id="del-exp-inc-modal-btn" class="edit-user-profile">
                                <img src="/img/delete.png" class="edit-profile-pic"/>
                                Usuń wszystkie wydatki i przychody
                            </span>
                            
                            <hr class="line"/>
                                
                        </div>                             
                          
                        <div class="user-data-box">
                            
                            <span id="user-delete-modal-btn" class="edit-user-profile">
                                <img src="/img/clear.png" class="edit-profile-pic"/>
                                Usuń konto
                            </span>
                            
                            <hr class="line"/>
                                
                        </div>   
                          
                      </div>
                    </div>
                      
                  </div>                  
                    
                </div>
                
                <!-- User Settings Modal -->
                <div id="user-settings-modal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">

                      <div class="modal-header">
                        <h4 class="modal-title text-center">Edycja danych użytkownika</h4>
                        <button type="button" class="close text-right" data-dismiss="modal">&times;</button>                              
                      </div>
                      <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-10 offset-sm-1">
                                
                                <div id="profile-edit-error" class="modal-errors"></div>

                                <label for="user-name-edit" class="form-legend"> Nazwa użytkownika </label><br/>
                                <input class="form-control" id="user-name-edit" type="text">
                                
                                <label for="user-email-edit" class="form-legend mt-3"> Adres email </label><br/>
                                <input class="form-control" id="user-email-edit" type="text">
                                
                                <label for="user-password-edit" class="form-legend mt-3"> Ustaw nowe hasło </label><br/>
                                <input class="form-control" id="user-password-edit" type="password" placeholder="Zostaw puste aby nie zmieniać">

                            </div>

                        </div>

                      </div>

                      <div class="modal-footer">
                          
                        <button id="save-user-edit-btn" class="btn btn-primary mt-2" >Zmień</button>
                        <button class="btn btn-danger mt-2 cancel-btn" id="cancel-profile-edit-btn" data-dismiss="modal">Anuluj</button>
                      
                      </div>

                    </div>
                  </div>
                </div>
                
                <!-- User Delete Modal -->
                <div id="user-delete-modal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title text-center">Usunięcie użytkownika</h4>
                        <button type="button" class="close text-right" data-dismiss="modal">&times;</button>                              
                      </div>
                      <div class="modal-body">

                        <div class="row">
                            <div class="col-sm-10 offset-sm-1">

                                <p>Usunąć użytkownika <strong>{{ current_user.name }}</strong>?</p>
                                <p>Jest to operacja nieodwracalna</p>

                            </div>

                        </div>
                      </div>

                      <div class="modal-footer">
                         <button id="user-delete-btn" class="btn btn-primary mt-2" data-dismiss="modal">Usuń</button>
                         <button class="btn btn-danger mt-2 cancel-btn" data-dismiss="modal">Anuluj</button>
                      </div>
                    </div>

                  </div>
                </div>
                
                <!-- All expenses and incomes delete Modal -->
                <div id="exp-inc-del-modal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title text-center">Usunięcie wpływów i wydatków</h4>
                        <button type="button" class="close text-right" data-dismiss="modal">&times;</button>                              
                      </div>
                      <div class="modal-body">
                          
                        <div id="exp-inc-del-errors"></div>

                        <div class="row">
                            <div class="col-sm-10 offset-sm-1">

                                <p>Usunąć wszystkie wprowadzone wpływy i wydatki?</p>
                                <br/>
                                <p>Jest to operacja nieodwracalna</p>

                            </div>

                        </div>
                      </div>

                      <div class="modal-footer">
                         <button id="exp-inc-del-confirm-btn" class="btn btn-primary mt-2" data-dismiss="modal">Usuń</button>
                         <button class="btn btn-danger mt-2 cancel-btn" data-dismiss="modal">Anuluj</button>
                      </div>
                    </div>

                  </div>
                </div>                

                
            </div>
            
        </div>

    </main>

        
{% endblock %}