{% extends 'base.html' %}

{% block title %}Add Income{% endblock %}

{% block footer %}

    //<script src="/js/app.js"></script>

    <script>
        
        $.validator.addMethod('dateRange',
            function(value, element) {

                /*var earliestValidDate = new Date(2000, 0, 1);
                var today = new Date();

                if (value.getTime() > earliestValidDate.getTime() && value.getTime() <= today.getTime()) 
                {
                    return true;

                } else {

                    return false;   
                }*/

                if(2 > 1)
                {
                    return false;
                }
                return true;
            },

            'Please choose date from 2020:01:01 up to today'
        );

        $(document).ready(function() {
    
            /**
             * Validate the form
             */
            $('#formIncome').validate({
                rules: {
                    value: {
                        required: true,
                        number: true,
                        range: [0.01, 999999.99]
                    },
                    date: {
                        required: true,
                        dateISO: true,
                        dateRange: true
                    },
                    category:{
                        validCategory: true
                    }
                }
            });


            /**
              * Show password toggle button
              */
            /*
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
            */
    });
    </script>

{% endblock %}

{% block body %}

    <main>

    <div class="container">

        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 my-3 content">
            <article>

                <header>

                    <h2 class="content-header"><i class="icon-money-1"></i> Dodaj przychód </h2>

                </header>

                <form action="/Income/create" method="POST" id="formIncome">

                    <div class="row">
                        <div class="col-sm-10 offset-sm-1">

                            <label class="formLegend" for="income_value"> Kwota </label>
                            <input class="form-control" type="number" name="value" id="income_value" step="0.01" required>

                        </div>
                    </div>	

                    <hr>

                    <div class="row">
                        <div class="col-sm-10 offset-sm-1">

                            <label for="income_date" class="formLegend"> Data </label>
                            <input class="form-control" type="date" name="date" required>

                        </div>
                    </div>

                    <hr>

                    <div class="row mt-1 ">
                        <div class="col-sm-10 offset-sm-1">

                            <label for="category" class="formLegend">Kategoria</label><br/>
                            <select class="custom-select mr-sm-2" name="category" required>
                                <option value="0" selected disabled>Wybierz kategorię...</option>
                            
                                {% for category in incomeCategories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}

                            </select>   
                        </div>    
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-sm-10 offset-sm-1">

                            <label for="comment" class="formLegend"> Komentarz (opcjonalnie) </label><br>
                            <textarea class="form-control" id="comment" name="income_comment" rows="4" cols="44" placeholder="Twój komentarz ..."></textarea>

                        </div>
                    </div>	

                    <div class="row py-3">

                        <div class="col-md-6 my-1">
                           <input type="submit" class="btn btn-success btn-block" value="Dodaj">
                        </div>
                        <div class="col-md-6 my-1">
                           <a href="mainmenu.html" class="btn btn-danger btn-block">Anuluj</a>
                        </div>

                    </div>

                </form>

            </article>

        </div>    

    </div>

    </main>

{% endblock %}
