{% extends 'base.html' %}

{% block title %}Add Income{% endblock %}

{% block footer %}

    <script>
        
        // I added method to validate data range , but i couldnt get it work from seperate file in public/js/app.js, that is veird because additinal password validating method from signup works just fine from that file, dunno will try to fix it while refactorization
        $.validator.addMethod('dateRange',
            function(value, element) {

                var earliestValidDate = new Date(2000, 0, 1);
                var today = new Date();
                var incomeDate = new Date(value);
            
                

                if (incomeDate.getTime() > earliestValidDate.getTime() && incomeDate.getTime() <= today.getTime()) 
                {
                    return true;

                } else {

                    return false;   
                }

            },

            'Please choose date from 2020:01:01 up to today'
        );

        $(document).ready(function() {
            
            var today = new Date();
            var todayISODate = today.toISOString().substr(0, 10);
            $("#income_date").val(todayISODate);
    
            /**
             * Validate the form
             */
            $('#formIncome').validate({
                rules: {
                    amount: {
                        required: true,
                        number: true,
                        range: [0.01, 999999.99]
                    },
                    date_of_income: {
                        required: true,
                        dateISO: true,
                        dateRange: true
                    },
                    income_comment: {
                        maxlength: 100
                    }
                },
                messages: {
                    amount: {
                        required: 'pole wymagane',
                        number: 'wpisz liczbę',
                        range: 'wpisz liczbę z zakresu od 0.01 do 999 999.99'
                    },
                    date_of_income: {
                        required: 'pole wymagane',
                        dateISO: 'nipoprawny format daty',
                        dateRange: 'data nie może być wcześniejsza niż 01-01-2000 i poźniejsza niż dzisiejsza'
                    },
                    income_comment: {
                        maxlength: 'przekroczono maksymalną liczbę znaków'
                    },
                    income_category_assigned_to_user_id: {
                        required: 'pole wymagane'
                    }
                }
            });


       
    });
    </script>

{% endblock %}

{% block body %}

    <main>

    <div class="container">

        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 my-3 content">
            <article>

                <header>

                    <h2 class="content-header"><i class="icon-money-1"></i> Dodaj przychód </h2>

                </header>
                
                 {% if income.errors is not empty %}
                    <p class="text-danger">Errors:</p>
                    <ul class="text-danger text-left pl-3">
                        {% for error in income.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}               

                <form action="/Income/create" method="POST" id="formIncome">

                    <div class="row">
                        <div class="col-sm-10 offset-sm-1">

                            <label class="formLegend" for="income_value"> Kwota </label>
                            <input class="form-control" type="number" name="amount" id="income_value" step="0.01" required>

                        </div>
                    </div>	

                    <hr>

                    <div class="row">
                        <div class="col-sm-10 offset-sm-1">

                            <label for="income_date" class="formLegend"> Data </label>
                            <input class="form-control" type="date" name="date_of_income" id="income_date" required>

                        </div>
                    </div>

                    <hr>

                    <div class="row mt-1 ">
                        <div class="col-sm-10 offset-sm-1">

                            <label for="category" class="formLegend">Kategoria</label><br/>
                            <select class="custom-select mr-sm-2" name="income_category_assigned_to_user_id" required>
                                <option value="0" selected disabled>Wybierz kategorię...</option>
                            
                                {% for category in incomeCategories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}

                            </select>   
                        </div>    
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-sm-10 offset-sm-1">

                            <label for="comment" class="formLegend"> Komentarz (opcjonalnie) </label><br>
                            <textarea class="form-control" id="comment" name="income_comment" rows="4" cols="44" placeholder="Twój komentarz ..."></textarea>

                        </div>
                    </div>	

                    <div class="row py-3">

                        <div class="col-md-6 my-1">
                           <input type="submit" class="btn btn-success btn-block" value="Dodaj">
                        </div>
                        <div class="col-md-6 my-1">
                           <a href="/Income/new" class="btn btn-danger btn-block">Anuluj</a>
                        </div>

                    </div>

                </form>

            </article>

        </div>    

    </div>

    </main>

{% endblock %}
